mixin footer()
	+b.FOOTER.footer
		block
		+e.footer.container
			a(href="#") Политика конфиденциальности
			p Информация на сайте предназначена только для совершеннолетних (18+). Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой статьей 437 ГК РФ.
