// start .sRews
.sRews {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		&__item{
			@include block(327,434); 
			box-shadow: 0 22px 49px rgba(226, 212, 200, 0.75);
			border-radius: rem(30);
			background-color: rgba($color: #fcfbfb, $alpha: .68);
			&:not(:last-child) {
				margin-bottom: 30px;
			}
			.icon{
				position: absolute;
				right: 30px;
				top: 30px;
				color: $body-color;
				font-size: rem(28);
			}
			&:hover{
				box-shadow: 0 0px 0px rgba(226, 212, 200, 0.75);

			}
			picture{
				width: calc(100% - 30px);
				height: calc(100% - 30px);
				left: 15px;
				top: 15px;
			}
		}

	@include media-breakpoint-up(xl) {
		.row{
			--bs-gutter-x: 78px;
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRews