// start .sChoice
.sChoice {
	&__inner{
		max-width: rem(720);
	}
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		
		@include media-breakpoint-up(xl) {
		--sPB: #{rem(170)};
		h2{
			margin-left: -70px;
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sChoice