mixin sChoice(data)
	// start sChoice
	+b.SECTION.sChoice.section#sChoice.bg-wrap&attributes(attributes)
		+pic("choice-bg.jpg",'bg').picture-bg
		.container
			+e.inner
				h2 Как выбрать адвоката и не ошибиться?
				p: strong Когда необходима срочная и компетентная юридическая помощь: как выбрать адвоката? 
					br
					| Адвокат Карташова И. Ю.  выделила главные критерии: 
				ul 
					li Опыт работы адвоката должен быть от 10 лет 
					li Своему адвокату необходимо доверять
					li Работа с адвокатом построена напрямую, и Вы имеете всегда возможность связаться с ним, обсудить ход своего дела. 
					li Открытая первичная консультация по вероятности положительного исхода Вашего дела 
					li Успешно выигранные дела в сфере права именно Вашего дела 

				p Определить уровень квалификации и правильность стратегии адвоката не просто. Поэтому  Инна Юрьевна ответит на все Ваши вопросы, а так же поможет оценить перспективу дела на любой стадии процесса.  

	// end sChoice