mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container.section
			h1 Карташова Инна Юрьевна
			p 
				strong Адвокат 
				| на защите Ваших интересов!
			ul 
				li Юридический стаж 18 лет
				li Юридическая помощь 24/7
				li Сопровождение деятельности юридических лиц
				li Защита по уголовным делам 
				li Личный, ответственный подход к решению сложных юридических проблем 
			img(src="img/@2x/head-img.png", alt="")
			a(href="#") Записаться на консультацию
	// end headerBlock