mixin sWays(data)
	// start sWays
	+b.SECTION.sWays.section#sWays&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Основная специализация и направление деятельности
				
			.row
				mixin item(i,t)
					+e.col.col-sm-6
						+e.item
							+e.head
								+pic(`way-${i}.png`,'',0)
								= t
							+e.body
								ul
									block
							+e.foot
								+pic(`way-img-${i}.png`,'',0)
								
								//- img(src=`img/@2x/`, alt="")
				+item(`1`,`Физическим лицам`)
					li  Защита по уголовным делам (причинение вреда здоровью, мошенничество)
					li Семейные споры (раздел имущества, взыскание алиментов) 
					li Защита прав потребителя
					li Споры со страховыми компаниями
					li Правовая помощь по ДТП с пострадавшими
					li Возмещение вреда здоровью 
					li Споры по ДДУ 
				+item(`2`,`Юридическим лицам`)
					li  Арбитражная практика 
					li  МКАС и ВЭД
					li Защита интеллектуальных и смежных прав
					li Защита по уголовным делам в сфере экономической деятельности и по налоговым преступлениям
					li Сопровождение сделок 
					li  Юридическое сопровождение бизнеса
					li Помощь в налоговых спорах  
	// end sWays