mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section.bg-wrap.text-center#sCases&attributes(attributes)
		+pic('cases-bg.jpg','bg').picture-bg
		.container
			+b.section-title
				h2 Дела адвоката Карташовой И. Ю. в СМИ
			+e.wrap
				.row
					mixin item()
						+e.col.col-lg-4.col-sm-6 
							+e.item
								p: strong «Юрист Карташова оценила идею Милонова лишать коллекторов пенсий»
								p Предложение депутата Государственной думы Виталия Милонова о лишении пенсий граждан, которые занимаются коллекторской деятельностью, нарушает все мыслимые постулаты законодательства. Ведь Конституцией РФ гарантировано право каждого человека на труд (ст. 37 Конституции РФ). Труд свободен. Каждый имеет право свободно распоряжаться своими....
								a.more(href="#") Читать дальше...
					+item()
					+item()
					+item()

	// end sCases