mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section.bg-wrap#sAbout&attributes(attributes)
		+pic("about-bg.jpg",'bg','').picture-bg
		.container
			+e.inner
				h2 Об адвокате Карташовой И. Ю.
					
				ul
					li  Юридический стаж с 2003 г., в статусе адвоката с 2008г.;
					li  Более 10 лет специализируется на преступлениях в области предпринимательской деятельности и мошенничестве, арбитражных спорах и международных сделках; 
					li  Многолетний опыт работы по делам, связанным с причинением вреда жизни и здоровью, защите интересов пострадавших в ДТП; 
					li  Более 15 лет ведения дел по семейному праву; 
					li  Индивидуальный и скрупулезный подход к ведению Вашего дела;
					li  Гибкие условия сотрудничества;
					li  Применение нестандартных решений  в сложных правовых вопросах.
				p Интервью с адвокатом Карташовой И.Ю. в журнале « ТЕОРИЯ ПРАВА»
					| 
					a(href="http://apgmag.com/interview/kartashova/" target="_blank") http://apgmag.com/interview/kartashova/
	// end sAbout